<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964560860962-nhas319gv9o7pju2shlhj8g5sbdliof6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964560860962-nhas319gv9o7pju2shlhj8g5sbdliof6</string>
	<key>API_KEY</key>
	<string>AIzaSyA07WjQ0FfJbkH83lOH98RyjJuua0PxPKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>964560860962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookingApp</string>
	<key>PROJECT_ID</key>
	<string>bookingapp-df000</string>
	<key>STORAGE_BUCKET</key>
	<string>bookingapp-df000.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964560860962:ios:bd04b58a133a5b269fd77b</string>
</dict>
</plist>